<div style="padding:5%;display:block;">
  <div *ngIf="!lancer" class="noflex">
    <p>Joueurs : {{joueurs.length}}</p>
    <div style="overflow-x:scroll;justify-content: unset">
      <div *ngFor="let joueur of joueurs;let i=index"  class="noflex joueur">
        <p class="clickable" style="right:10px;top:0px;position:absolute;width:fit-content;" (click)="joueurs.splice(i,1)">x</p>
        <input class="clickable" type="text" [(ngModel)]="joueur.nom"/>
        <div>
          <p [class.notok]="joueur.boire=='0'">Boire</p>
          <select class="clickable" [(ngModel)]="joueur.boire">
            <option [value]="0">0</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
          </select>
        </div>
        <p class="clickable" (click)="joueur.femme=!joueur.femme">{{joueur.femme?'She':'He'}}</p>
        <p class="clickable" [class.notok]="!joueur.sex" (click)="joueur.sex=!joueur.sex">Contenu -18</p>
        <p class="clickable" [class.notok]="!joueur.physique" (click)="joueur.physique=!joueur.physique">Contenu Physique</p>
      </div>
    </div>
    <div>
      <button (click)="addJoueur()">Ajouter joueur</button>
      <button (click)="newTour()">Lancer</button>
    </div>
  </div>
  <div *ngIf="joueur" class="noflex">
    
    <div>
      <div *ngFor="let action of tour.actions" class="clickable joueur noflex">
        <p>{{action.nom}}</p>
        <p>{{joueur.nom}} {{action.description?action.description:''}}</p>
      </div>
    </div>
    <div>
      <button (click)="newTour()">Nouveau tour</button>
    </div>
  </div>
</div>
